.flex-grow-1 {
    margin: 0px;
}

.border-primary {
    display: flex;
    flex-direction: row;
    
}
.cart-item-image {
    height: 200px;
    width: 200px;
    margin-right: 25px;
}
.align-items-center.justify-content-center {
    height: 100%;
}